body {
	background-color: gray;
}

figcaption {
	display: block;
	text-align: center;
}

#image {
	display: block;
	height: auto;
	max-width: 100%;
}

#main {
	background-color: white;
	margin: 50px, 50px;
}