body {
	background-color: gray;
	margin-top: 60px;
}

figcaption {
	display: block;
	text-align: center;
}

#image {
	display: block;
	height: auto;
	max-width: 100%;
}

#main {
	background-color: white;
}