	body {
        background-color: gray;
		margin-top: 60px;
	}

	figure {
		margin: 10px;
		}

	figure, figcaption {
		display: block;
		font-style: italic;
		font-variant: small-caps;
		}

	.textwrap {
        float: right;
        margin:10px;
        	}

    .container-fluid {
    	width: 90%;
    	background-color: white;
    }

    .leftblock {
	    float: left;
	    max-width: 70%;
	    min-width: 50%;
	    margin:10px;
	    color: #741600;
    	font-style: italic;
    }

    .img-fluid {
	    max-width: 95%;
    }